.about-section {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
    color: white;
  }
  
  .about-section h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 
    0 0 20px #600f34,
    0 0 40px #ae2568, 
    0 0 50px #d63c82, 
    0 0 60px #f08bb9; 
  }
  
  .about-intro, .about-history {
    margin-top: 30px;
    text-align: left;
  }
  
  .about-section h2 {
    font-size: 2rem;
    color: #f08bb9;
    text-shadow: 0 0 5px #d63c82;
  }
  
  .about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
    opacity: 0.9;
  }
  
  .about-section a {
    font-style: italic;
    color: #dcdcdc;
    text-decoration: none;
  }

